/*
* Oussama.design
* Copyright 2022, @
*/

/*******************************************************
********************* 1.RESET
*******************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    outline: none;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, video, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
.box-shadow-top {
    box-shadow: 0px 10px 64px -32px rgba(0, 0, 0, 0.5) inset;
}
.box-shadow-bottom {
    box-shadow: 0px -32px 67px -50px rgba(0, 0, 0, 0.5) inset;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button{
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*******************************************************
********************* 2.GENERAL SETTINGS 
*******************************************************/
html{
	height: 100%;
	width: 100%;
}
body{
	background: #111;
	color: #fff;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	width: 100%;
	height: 100%;
	letter-spacing: .5px;
	overflow-x: hidden;
	overflow-y: scroll;
   -webkit-overflow-scrolling: touch;

}
a{
	color: #2855EA;
	text-decoration: none;
	-webkit-transition: color 0.4s, background 0.4s;
    -moz-transition:    color 0.4s, background 0.4s;
    -o-transition:      color 0.4s, background 0.4s;
    transition:         color 0.4s, background 0.4s;
}
a:hover{
	color: #222;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	line-height: 140%;
	font-weight: bold;
	letter-spacing: .8px;
	font-family: 'Poppins', serif;

}
h1{
	font-size:2.2em;
	margin-bottom:20px;
}
h2{
	font-size:1.9em;
	margin-bottom:20px;
}
h3{
	font-size:1.68em;
	margin-bottom:20px;
}
h4{
	font-size:1.2em;
	margin-bottom:10px;
}
h5{
	font-size:1em;
	margin-bottom:10px;
}
h6{
	font-size:.9em;
	margin-bottom:4px;
}
p,span,li{
	font-size: 1.1em;
	line-height: 180%;
	margin: 0px 0px 20px;
}
img{
	display: block;
}
section{
	width: 100%;
	padding: 120px 0;
	position: relative;
}
/* inputs*/
textarea, input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"]{
	background-color: #ffffff;
	border: 1px solid #eee;
	color: #888;
	font-size: 1.2em;
	text-indent: 10px;
	outline: none;
	width: 100%;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"]{
	height: 40px;
}
textarea{
	resize: none;
	overflow: auto;
	margin-bottom: 10px;
	padding: 10px 0;
}
select{
	background: #fff;
	border: 1px solid #eee;
	box-shadow:  1px 1px 2px rgba(0,0,0,.1);
	border-radius: 3px;
	color: #888;
	font-size: 1.2em;
	height: 40px;
	width: 100%;
	padding: 8px 10px;
	outline: none;
}
label{
	margin-bottom: 10px;
}
/*******************************************************
********************* 4.MODULES
*******************************************************/
.no-pd{
	padding: 0;
}
.no-m{
	margin: 0;
}
.spacer{
	width: 100%;
	height: 0;
	padding: 30px 0;
}
.spacer-double{
	width: 100%;
	height: 0;
	padding: 50px 0;
}
.folio-container{
	width: 960px;
	margin: 0 auto;
}
.folio-container p{
	font-size: 1.5em;
}
.larger-container{
	width: 1200px;
	margin: 0 auto;
}
img.scale{
	width: 100%;
	height: auto;
}
.insight{
	background: url(../images/bg/intro-clouds.png) no-repeat;
	background-size: cover;
	border-radius: 10px;
	width: 100%;
	padding: 30px;
	color: #000;
	margin-bottom: 40px;
}
/*******************************************************
********************* 5.THE HEADER & NAV
*******************************************************/
header {
	background: transparent;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9999;
}
h1.logo{
	background: #000 url(../images/logo.png);
	width: 64px;
	height: 64px;
	background-size: cover;
	display: block;
	text-indent: -9999em;
	margin: 0 0 0 30px;
}
.burger-btn{
	background: #000;
	border-radius: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	width: 64px;
	height: 64px;
	margin-right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.burger-btn img{
	width: 36px;
	height: auto;
}
nav.navigation{
	background: url('../images/bg/nav.png') no-repeat;
	border-radius: 90px 0 0 90px;
	box-shadow: -1px 2px 64px rgba(0, 0, 0, 0.5);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	z-index: 100;
	transform: translateX(120%);
	transition: all 0.6s ease-in-out;
}
nav.navigation li{
	margin-bottom: 30px;
}
nav.navigation li a{
	color: #000;
	font-size: 3.4em;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
nav.navigation .social{
	margin-top: 60px;
	display: flex;
}
nav.navigation .social a{
	margin-right: 30px;
}
/*******************************************************
********************* INTRO & PAGE TITLE
*******************************************************/
.intro{
	background: url(../images/bg/intro-clouds.png) bottom;
	background-size: cover;
}
.intro-container{
	width: 90%;
	height: 700px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.intro-container img{
	width: 30%;
	height: auto;
}
.intro-title{
	font-size: 8em;
	color: #111;
	line-height: 1;
	text-align: left;
	width: 60%;
}
/*******************************************************
********************* ABOUT
*******************************************************/
.about p{
}
.about img{
	margin: 50px auto;
}
.about img.final{
	width: 70%;
}
/*******************************************************
********************* COLORS
*******************************************************/
.color-container{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;

}
.color-box{
	width: 22%;
	text-align: center;
}
.color{
	background-color: #000;
	width: 100%;
	height: 350px;
	margin-bottom: 20px;
	position: relative;
}
.color::before{
	content: "";
	width: 100%;
	height: 40px;
	position: absolute;
	top: -40px;
	left: 0;
}
.color.orange{
	background: #FF570D;
}
.color.orange::before{
	background: url(../images/tt/orange.svg) no-repeat bottom;
	background-size: 100%;
}
.color.yellow{
	background: #FFF507;
}
.color.yellow::before{
	background: url(../images/tt/yellow.svg) no-repeat bottom;
	background-size: 100%;
}
.color.black{
	background: #000;
}
.color.black::before{
	background: url(../images/tt/black.svg) no-repeat bottom;
	background-size: 100%;
}
.color.dark{
	background: #222;
}
.color.dark::before{
	background: url(../images/tt/dark.svg) no-repeat bottom;
	background-size: 100%;
}
/*******************************************************
********************* SKILLS 
*******************************************************/
.skills{
	padding: 120px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.skill{
	text-align: center;
}
.skill img{
	width: 330px;
	margin-bottom: 20px;
}

/*******************************************************
********************* FOLIO
*******************************************************/
.portfolio{
	width: 100%;
	overflow-x: hidden;
}
.p-item-track{
	padding: 0 50px;
	display: flex;
	position: relative;
}
.p-cloud{
	position: absolute;
	top: 0;
	left: 0;
}
.p-cloud img{
	height:500px;
}
.p-item-track:nth-child(2){
	justify-content: center;
}
.p-item-track:nth-child(3){
	justify-content: flex-end;
}
.p-item{
	width: 380px;
	height: 380px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 30px solid #fff;
	transform: rotate(-10deg);
}
/*******************************************************
********************* PARTNERS
*******************************************************/
.our-partners h1{
	font-size: 4em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 100px;
}
.partners{
	width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
}
.partner{
	width: 25%;
	margin-bottom: 30px;
}
.partner img{
	width: 100%;
	height: auto;
}
/*******************************************************
********************* PROJECT BANNER
*******************************************************/
.project-banner{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}
.project-logo{
	width: 300px;
	height: auto;
	margin: 0;
}
.tt{
	background: url(../images/tt/cover.png) bottom;
	background-size: cover;
}
.eju{
	background: url(../images/eju/cover.png) bottom;
	background-size: cover;
}
/*******************************************************
********************* PROJECT DETAILS
*******************************************************/
.project-details dl{
	border-bottom: 1px solid #fff;
	width: 100%;
	padding: 20px 0;
	line-height: 160%;
	display: flex;
}
.project-details dt{
	margin-right: 30px;
	width: 25%;
	font-weight: bold;
}
/*******************************************************
********************* UI
*******************************************************/
.ui-screens img{
	margin-bottom: 30px;
}
/*******************************************************
********************* VIDEO
*******************************************************/
.video-container{
	background: #FF570D;
	padding: 40px;
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.video-container video{
	width: 100%;
	height: auto;
}
.video-container::before{
	content: "";
	background: url(../images/tt/orange-long-u.svg) bottom no-repeat;
	background-size: 100%;
	width: 100%;
	height: 60px;
	position: absolute;
	top: -59px;
	left: 0;
}
.video-container::after{
	content: "";
	background: url(../images/tt/orange-long-d.svg) top no-repeat;
	background-size: 100%;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: -59px;
	left: 0;
}
/*******************************************************
********************* FOOTER
*******************************************************/
.footer{
	background: url(../images/bg/cloud2.png) top;
	background-size: cover;
	padding-top: 120px;
}
.footer h2{
	margin-bottom: 80px;
}
.footer .email{
	width: 100%;
	height: auto;
	margin: 0;
}
footer.thank-you{
	width: 100%;
	margin-top: 200px;
	overflow: hidden;
	background: url(../images/tt/city.png) no-repeat bottom;
	background-size: cover;
	position: relative;
}
.thank-you-box{
	border: 20px solid #fff;
	display: flex;
	width: 300px;
	height: 300px;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.thank-you-box h3{
	font-size: 2.8em;
	line-height: 110%;
	text-transform: uppercase;
}
.go-back{
	width: 100%;
}
.cloud-footer{


}
.cloud-footer img{
	height: 500px;
}
/*******************************************************
********************* LOADING
*******************************************************/
.loading-wrap{
	background: url(../images/bg/loading-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.loading-wrap h3{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	text-align: center;
	letter-spacing: 3px;
}
.loading-clouds,
.hands{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center center;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
from {
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	transform-origin: center center;

}
to {
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	transform-origin: center center;

}
}
@keyframes rotating {
from {
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	transform-origin: center center;

}
to {
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	transform-origin: center center;

}
}
@keyframes fading {
from {
	opacity: 0;
}
to {
	opacity: 1;
}
}
.rotating {
	-webkit-animation: rotating 4s linear infinite;
	-moz-animation: rotating 4s linear infinite;
	-ms-animation: rotating 4s linear infinite;
	-o-animation: rotating 4s linear infinite;
	animation: rotating 4s linear infinite;
}
.fading{
	animation: fading 1s linear infinite;
}
