@media only screen and (max-width : 1024px) {

}
/* Smartphones */
@media only screen and (max-width : 768px) {
	.folio-container,
	.larger-container{
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
	/*********
	*** SKILLS
	*********/
	.skills{
		flex-wrap: wrap;
	}
	.skill{
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.skill img{
		width: 100%;
		height: auto;
	}
	/*********
	*** PORTFOLIO
	*********/
	.p-item-track{
		padding: 0 20px;
		display: block;
	}
	.p-item{
		width: 340px;
		height: 340px;
		transform: rotate(0deg);
		box-sizing: border-box;
		margin-bottom: 20px;
	}
	.p-item img{
		width: 50%;
		height: auto;
		margin: 0 auto;
	}
	/*********
	*** PARTNERS
	*********/
	.partners{
		width: 100%;
	}
	.partner{
		width: 33%;
	}
	/*********
	*** COLORS
	*********/
	.color-container{
		flex-wrap: wrap;
	}
	.color-box{
		width: 46%;
		margin-bottom: 30px;
		
	}
	.color{
		height: 200px;
	}
}
/* Smartphones */
@media only screen and (max-width : 480px) {
	
	/*********
	*** HEADER & NAV
	*********/
	nav.navigation{
		width: 90%;
	}
	nav.navigation li a{
		font-size: 3em;
	}

	/*********
	*** INTRO
	*********/
	.intro{
		padding-top: 180px;
	}
	.intro-container{
		flex-wrap: wrap-reverse;
	}
	.intro-container img{
		width: 100%;
	}
	.intro-container h1{
		width: 100%;
		font-size: 3em;
		margin-bottom: 40px;
	}

}